<div class=" p-4 mb-4 d-flex align-items-center flex-column  w-100">
  <div class="navbar navbar-light  w-75">
    <div class="container-fluid   w-100">
      <form class="  w-100">
        <div class="container">
          <div class="row">
            <div class="input-group">
              <input type="text" aria-label="First name" class="form-control border-separator  w-50">
              <input type="date" aria-label="Date" class="form-control border-separator">
              <input type="time" aria-label="Time" class="form-control border-separator ">
              <button type="button" class="btn btn-primary border-separator w-auto"><b>Search</b></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
