<div class=" p-4 mb-4 d-flex align-items-center flex-column">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <form>
        <span class="border" style="margin: 3px;">
          <input type="text" />
        </span>
        <span class="border" style="margin: 3px;">
        <input type="date" />
        </span>
        <input class="border" style="margin: 3px;" type="time" />
        <span>
        <button class="btn btn-primary"><b>Search</b></button>
        </span>
      </form>
    </div>
  </div>
