<div class="row justify-content-end">
  <div class="bg-white">

    <script type="text/javascript" src="javascripts/sidebar-support.js"></script><a
      href="https://allwebcodesign.com/setup/mobi-templates.htm"><img
        src="https://allwebco-templates.com/support/picts/sidebar-responsive.jpg" height="300" width="240"
        alt="Responsive Website Templates"></a><br><br><a href="https://join.robinhood.com/erichv-3e54d60"><img
        src="https://allwebco-templates.com/support/picts/robinhood-ban.jpg" height="180" width="240"
        alt="Robin Hood Investing"></a><br>

    <br>

    <!-- START GOOGLY ADS -->
    <div class="googleads gaw-2">

      <div class="ga">
        <a href="https://allwebcodesign.com/setup/templates-adsense.htm" class="GOOGLElink">AdSense Ready Templates</a>
        Developer grade HTML web site template designs for Google AdSense.<br>
      </div>

      <div class="ga">
        <a href="https://allwebcodesign.com/Build-AdSense-Website.htm" class="GOOGLElink">Create an AdSense Website</a>
        Step by step help for building a portal website to generate income.<br>
      </div>

      <div class="ga">
        <a href="https://allwebcodesign.com/setup/templates-portal.htm" class="GOOGLElink">Google AdSense Designs</a>
        Downloadable website layouts with built in scripts and dynamic effects.<br>
      </div>

      <div class="ga">
        <a href="https://allwebcodesign.com/alternative-to-web-builder-programs.htm" class="GOOGLElink">Builder Program
          Alternatives</a>
        Building a new website? Help and support to choose the best option for web development projects.<br>
      </div>

      <div class="googleadsft">&nbsp;<br></div>
    </div>
    <!-- END GOOGLY ADS -->

    <br>
  </div>
</div>
