<body class="bg-warning">
  <div class="row justify-content-end">
    <app-card-item class="col-3"></app-card-item>
    <form class="col-2">
      <div class="row ">
        <div class="col-3">
          <input type="text" class="form-control1" placeholder="NOM">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control2" placeholder="PRENOM">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control2" placeholder="TEL">
        </div>
      </div>
    </form>
    <form class="col">
      <div class="row ">
        <div class="col-">
          <input type="text" class="form-control1" placeholder="NOM">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control2" placeholder="Debut">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control2" placeholder="Fin">
        </div>
      </div>
    </form>
    <app-ads-nav class="col-2"></app-ads-nav>

  </div>


</body>
